extends layout

block content
	h1= title
	p Welcome to the #{title}
	p= message
	hr
	br
	form(method='post', action='/results')
	label(for="ourid") Name
	input(name="ourname", type="text", id="ourid", placeholder="name")
	label(for="ourid") Picture link
	input(name="ourname", type="text", id="ourid", placeholder="url link to picture")

	select.input-field
		each digit,i in digits
			option(value=i) #{digit}

	input(class='btn waves-effect waves-light',type='submit', value='submity')



